/* RTL Style */
*{
  margin:0;
  padding:0;
  outline:none;
}
html{
  overflow-x: hidden;
}
body{ 
  margin:0; 
  padding:0; 
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  position:relative;
  background: #fff;
  font-size: 14px; 
  color: #ababab;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
img{
  margin:0;
  padding:0;
  border:none; 
  max-width:100%; 
  height:auto;
}
section img{
  max-width:100%;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Caveat Brush', cursive;
  color: #343c49;
}
p{ 
  letter-spacing: 1px;
}
a{ 
  text-decoration:none; 
  color: #9cc44e;
}
a:hover{ 
  text-decoration:none;
  color:#333;
}
a:focus,
a:hover{
  text-decoration:none !important;
}
a:focus{
  outline: 1px dotted #000;
}
:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.clear{ 
  clear:both;
}
input[type="search"] {
  border: 1px solid #ddd;
  width: 100%;
  font-size: 16px;
  padding: 10px 10px;
  height: auto;
}
input[type='submit']:hover{
  cursor: pointer;
}
.center{ 
  text-align:center; 
  margin-bottom:40px;
}
button{
  padding: 5px;
}
.home .middle-align{
  padding: 0;
}
.middle-align,.blog .middle-align{ 
  margin: 0 auto; 
  padding: 3em 0;
}
.wp-caption{ 
  margin:0; 
  padding:0; 
  font-size:13px; 
  max-width:100%;
}
.wp-caption-text{ 
  margin:0; 
  padding:0; 
}
a:focus,
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="phno"]:focus, 
input[type="password"]:focus, 
input[type="search"]:focus,
input[type="tel"]:focus, 
textarea:focus,
input[type="submit"]:focus,
#comments:focus,
select:focus,
.toggle-nav button:focus, a:focus span{
  outline: 1px solid #000;
  text-decoration:none !important;
}
.woocommerce-product-details__short-description p a, .entry-content a, #sidebar .textwidget a, .textwidget a, #comments .comment-content a, .slider .inner_carousel a{
  color: #9cc44e;
  text-decoration: underline;
}
/*---------- WIDE BLOCKS ------------*/

.alignwide {
  margin-right  : -60px;
  margin-left : -60px;
}
.alignfull {
  margin-right  : calc( -100vw / 2 + 100% / 2 );
  margin-left : calc( -100vw / 2 + 100% / 2 );
  max-width    : 100vw;
}
.alignfull img {
  width: 100vw;
} 

/*css for block-cover and block-image*/
.services .alignfull, .services .alignwide{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.services .alignfull img {
  width: 100%;
}
/*Block-button css*/
.wp-block-button.is-style-outline {
  margin: 10px 0;
}
.wp-block-button.is-style-outline a:hover{
  color: #9cc44e !important;
}
/*new added css*/
#sidebar h3 a.rsswidget{
  margin-left: 10px;
}
#sidebar .wp-block-search .wp-block-search__label, #sidebar .wp-block-heading{
  background: #9cc44e;
  color: #fff;
  display: table;
  margin: 10px 0;
  width: auto;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.wp-block-post-comments-form .comment-reply-title{
  padding-top: 15px;
}
li#comment-2{
  margin-bottom: 10px;
}
#sidebar .wp-block-latest-posts.wp-block-latest-posts__list, #sidebar ul.sub-menu{
  display: block !important;
}
/*footer without classic widgets*/
#footer .widget{
  margin-top: 25px;
  margin-bottom: 25px;
}
#footer .wp-block-tag-cloud a {
  border: solid 1px #fff;
  color: #fff;
  font-size: 14px !important;
  padding: 10px 18px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}
#footer .custom-about-us a.custom_read_more{
  background: #9cc44e;
  border-radius: 5px;
  padding: 10px 22px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
#footer .custom-about-us .custom_author{
  margin-bottom: 12px;
  margin-top: 12px;
}
#footer label{
  color: #fff !important;
}
#footer .wp-block-heading{
  color: #fff;
}
/*---------- ACCESSIBILITY READY ------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.sticky{ 
  margin:0; 
  padding:0; 
}
.sticky .post-main-box h3{
  background: url(assets/images/pin.png) no-repeat scroll 100% 0px;
  padding-right: 40px;
}
.gallery-caption{ 
  margin:0;
  padding:0;
}
.alignleft, 
img.alignleft {
  display: inline; 
  float: right; 
  margin-left:20px; 
  margin-top:4px; 
  margin-bottom:10px; 
  padding:0;
  border:1px solid #bbb;
  padding:5px; 
}
.alignright, 
img.alignright { 
  display: inline; 
  float: left; 
  border:1px solid #bbb; 
  padding:5px;
  margin-bottom:10px;
  margin-right:25px;
}
.aligncenter, 
img.aligncenter {
  clear: both; 
  display: block; 
  margin-right: auto; 
  margin-left: auto; 
  margin-top:0;
}
.alignnone,
img.alignnone {
  border: solid 1px #bbb;
  padding: 5px;
}
.comment-list .comment-content ul { 
  list-style:none; 
  margin-right:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
#respond{
  clear:both;
}
.toggleMenu{
  display:none;
}
.bypostauthor{
 margin:0;
 padding:0;
}
input[type="text"],
input[type="email"],
input[type="phno"],
input[type="password"], 
textarea{
  border:1px solid #bcbcbc;
  width:100%; 
  font-size:16px;
  padding:10px 10px; 
  margin:0 0 23px 0;
  height:auto;
}
textarea{
  height:auto; 
}
input[type="submit"] {
  text-align:center;
  text-transform:uppercase;
  font-size:12px;
  padding: 13px 30px; 
  background: #9cc44e;
  font-weight:bold;
  color: #fff;
  letter-spacing: 1px;
  border: none;
}
div#respond{
  border-top: solid 1px #bcbcbc;
  margin-bottom: 18px;
}
h2#reply-title {
  margin-top: 20px;
}

/* --------TOP BAR --------- */
#topbar {
  padding: 10px 0 20px;
  color: #fff;
  background: #343c49;
  position: relative;
}
#topbar:after{
  content: "";
  background-image: url(assets/images/design.png);
  background-repeat: repeat-x;
  background-position: center top;
  display: block;
  position: absolute;
  bottom: 0px;
  height: 9px;
  width: 100%;
  z-index: 9;
}
#topbar span, #topbar span a{
  color: #fff;
  margin-right: 5px;
  font-weight: 500;
  letter-spacing: 1px;
}
#topbar span a:hover{
  color: #9cc44e;
}
#topbar h3.custom_title {
  display: none;
}
.custom-social-icons {
  text-align: left;
}
.custom-social-icons i {
  color: #fff;
  margin-left: 15px;
}
.custom-social-icons i:hover{
  color: #343c49;
}
/* ------------ LOGO CSS ----------- */
.logo h1 a, .logo p.site-title a {
  color: #343c49;
}
.logo h1, .logo p.site-title {
  font-size: 35px;
  padding: 0;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Caveat Brush', cursive;
}
.logo p.site-title {
  margin: 0;
  line-height: 1;
  padding: 3px 0px;
}
.logo .site-title a:hover{
  color: #9cc44e;
}
p.site-description {
  font-weight: 500;
  letter-spacing: 1px;
  font-style: italic;  
  font-size: 13px;
  margin-bottom: 0;
}

/*----------------- SEARCH POPUP ----------------*/

.main-header .woocommerce-product-search {
  border: solid 2px #eeeeee;
  border-radius: 30px;  
  padding: 5px 15px;
}
.main-header button[type="submit"]{
  padding: 10px 25px;
  background: url(assets/images/search.png) no-repeat scroll right 20px top 50%;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
}
.main-header input[type="search"]{
  border: none;
  width: 85%;
  padding: 10px 0;
  background: transparent;
}

/* --------- HEADER --------- */
.main-header {
  padding: 25px 0 15px;
}
.account {
  text-align: center;
  margin: 15px 0;
}
.account i {
  font-size: 15px;
  color: #ababab;
  margin-left: 10px
}
.account a {
  color: #ababab;
  font-size: 15px;
  font-weight: 500;
}
.account a:hover{
  color: #9cc44e;
}
span.cart_no{
  position: relative;
}
.cart_no i {
  font-size: 20px;
  border: solid 2px #343c49;
  color: #343c49;
  padding: 12px;
  border-radius: 50%;
}
.cart_no i:hover{
  color: #9cc44e;
}
.cart-value {
  position: absolute;
  left: -5px;
  top: -20px;
  width: 20px;
  background: #9cc44e;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-weight: 500;
}
.email{
  border-right: 1px solid #fff;
}
.page-template-ibtana-page-template .middle-align{
  padding: 0em 0 0;
}
/* --------- MENUS CSS --------- */
#mySidenav {
  display: inline;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
#menu-box{
  background: #9cc44e;
}
.main-navigation ul{
  list-style: none;
  margin: 0;
  padding-right: 0;  
  font-family: 'Caveat Brush', cursive;
  text-align: center;
}
.main-navigation li{
  display: inline-block;
  position: relative;
}
.main-navigation ul li:first-child a {
  border-right: 1px solid #acd956;
}
.main-navigation ul ul li:first-child a {
  border-right: none;
}
.main-navigation a{
  color: #fff;
  padding: 15px 20px;
  font-size: 18px;
  letter-spacing: 1px;
  display: block;
  border-left: 1px solid #acd956;
}
.main-navigation a:hover{
  color: #343c49;
}
.main-navigation a:focus{
  outline: 1px solid #000;
}
.main-navigation ul ul{
  display: none;
  position: absolute;
  background: #fff;
  min-width: 200px;
  z-index: 9999;
  top: 90%;
  border-top: 4px solid #9cc44e;
  border-bottom: 4px solid #9cc44e;
  line-height: 30px;
  border-radius: 5px;
}
.main-navigation ul ul ul{
  right: 100%;
  top: 0%;
}
.main-navigation ul ul a{
  color: #343c49 ;
  border: none;
  padding: 5px 10px ;
  border-bottom: 1px solid #eaeaea;
  margin-top: 5px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
}
.main-navigation ul.sub-menu a:hover{
  color: #9cc44e;
  padding-right: 50px !important;
}
.main-navigation ul.sub-menu>li>a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  margin-top: 15px;
  right: 0;
  opacity: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  background: #222;
}
.main-navigation ul.sub-menu>li>a:hover:before {
  opacity: 1;
  right: 15px;
  width: 20px;
}
.main-navigation ul ul a:focus{
  outline: 1px solid #000;
}
.main-navigation ul ul li{
  float: none;
  display: block;
  text-align: right;
  border-right: none;
  border-left: none !important;
  padding: 0;
}
.main-navigation ul ul li:last-child{
  border-bottom: 0;
}
.main-navigation ul li:hover > ul{
  display: block;
}
.main-navigation .menu > ul > li.highlight{
  background-color: #006ccc;
}
.main-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}
/*--------------- SUPERFISH MENU ---------------------------*/

.sf-arrows ul .sf-with-ul:after{
  margin-top: -5px;
  margin-left: -3px;
  border-color: transparent;
  border-right-color: #888;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after{
  border-right-color: #333;
}
.toggle-nav, a.closebtn{
  display: none;
}
/* --------- PRODUCT CATEGORY--------- */

#cate_slider {
  background: #f7f7f7;
  padding: 3% 0;
}
.categry-title {
  background: #343c49;
  padding: 12px;
  letter-spacing: 1px;
}
.categry-title strong {
  color: #fff;
  padding: 0;
  font-family: 'Caveat Brush', cursive;
  font-size: 1.5rem;
  font-weight: 500;
}
.categry-title i {
  font-size: 20px;
  margin-left: 20px;
}
.product-cat {
  background: #fff;
  list-style: none;
  height: 410px;
  overflow-y: scroll;
}
.product-cat li {
  border-bottom: dashed 2px #eeeeee;
  padding: 15px;
}
.product-cat li a {
  color: #ababab;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}
.product-cat li a:hover{
  color: #9cc44e;
}
.product-cat li i {
  font-size: 15px;
  float: left;
}
#style-2::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
#style-2::-webkit-scrollbar{
  width: 12px;
  background-color: #F5F5F5;
}
#style-2::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #c7c7c7;
}

/* --------- SLIDER--------- */
#slider{ 
  max-width:100%; 
  margin:auto; 
  padding:0;
  background: #fff;
}
#slider img {
  width: 100%;
  opacity: 0.3;
  object-fit: cover;
}
#slider .carousel-item-next,
#slider .carousel-item-prev,
#slider .carousel-item.active {
  display: block !important;  
}
#slider .carousel-control-prev-icon, 
#slider .carousel-control-next-icon{
  background-image: none;
  font-size: 15px;
  color: #343c49;
  border-radius: 50%;
  padding: 15px 22px;
  border: solid 2px #343c49;
}
#slider .carousel-control-prev-icon:hover, 
#slider .carousel-control-next-icon:hover{
  background: #9cc44e;
  color: #fff;
  border-color: #9cc44e;
}
#slider .carousel-control-prev,
#slider .carousel-control-next{
  opacity: unset !important;
  top: auto;
  bottom: 10%;
  width: 10%;
}
#slider .carousel-control-next-icon,
#slider .carousel-control-prev-icon{
  width: auto;
  height: auto;
}
.carousel-control-prev {
  left: 8%;
  right: auto;
}
#slider .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  left: 22%;
  right: 10%;
  text-align: right;
  bottom: auto;
}
#slider .inner_carousel h1 {
  font-size: 50px;
  text-align: right;
  color: #343c49;
  margin-bottom: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#slider .inner_carousel h1 a{
  color: #343c49;
}
#slider .inner_carousel h1 a:hover{
  color: #9cc44e;
}
#slider hr {
  width: 15%;
  background: #9cc44e;
  margin: 0;
  opacity: 1;
  height: 4px;
  border-radius: 30px;
}
#slider .inner_carousel p {
  color: #5b616c;
  margin-top: 10px;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 2;
}
.more-btn,
.about-btn{
  margin: 30px 0;
}
#slider .view-more {
  border: solid 2px #343c49;
  color: #343c49;
  background: transparent;
  font-size: 18px;
}
#slider .view-more:hover{
  border-color: #9cc44e;
  background: #9cc44e;
  color: #fff;
}

/* --------- BUTTON CSS ------- */
.view-more{
  color: #343c49;
  font-size: 15px;
  letter-spacing: 1px;
  background: transparent;
  padding: 15px 20px;
  border-radius: 30px;
  border: 2px solid #343c49;
  font-family: 'Caveat Brush', cursive;
  display: inline-block;
}
.view-more i, .related-post .view-more i {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
}
.view-more:hover, .related-post .view-more:hover{
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #fff;
  background: #9cc44e;
  border-color: #9cc44e;
}
.view-more:hover i, .related-post .view-more:hover i{
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding-right: 10px;
  color: #fff;
}
.view-more a{
  color: #343c49;
}
.view-more:hover a{
  color: #fff;
}
/* --------- POPULAR TOYS SECTION ------- */

#popular-toys {
  padding: 3% 0;
  position: relative;
}
#popular-toys:before{
  content: "";
  background-image: url(assets/images/design1.png);
  background-repeat: repeat-x;
  background-position: center top;
  display: block;
  position: absolute;
  top: -9px;
  z-index: 999;
  height: 9px;
  width: 100%;
}
#popular-toys hr {
  border-top: solid 3px #9cc44e;
  margin: 0 0 30px 0;
  width: 10%;
  opacity: 1;
}
#popular-toys strong {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Caveat Brush', cursive;
  font-weight: normal;
  color: #343c49;
}
/*---------Sticky Header---------*/
.header-fixed {
  position: fixed;
  top:0; right:0;
  width: 100%;
  background: #9cc44e;
  z-index: 9999;
  border-bottom: 2px solid #343c49;
}
body.page-template-custom-home-page.admin-bar .header-fixed, body.admin-bar .header-fixed {
  margin-top: 30px !important;
}
/*----------- PRELOADER ----------*/
#preloader {
  background-color: #9cc44e;
  bottom: 0;
  right: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  height: 100%;
}
.loader-inner {
  bottom: 0;
  height: 60px;
  right: 0;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  right: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid #ffffff;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  right: 0;
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  height: 34px;
  width: 34px;
  top: 35px;
}
@keyframes spin {
  0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.elementor-page #preloader{
  display: none;
}
/* Footer Section */
.scrollup i {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 70px;
  left: 10px;
  font-size: 20px;
  display: none;
  color: #fff ;
  padding: 10px;
  background: #9cc44e;
  z-index: 999;
}
.scrollup.left i{
  right: 10px;
}
.scrollup.center i{
  right: 50%;
  left: 50%;
}
.copyright .widget {
  float: left;
  width: 30%;
  text-align: left;
}
.copyright .custom-social-icons {
  display: inline-flex;
}
.copyright p {
  font-size: 16px;
  color: #fff;
  float: right;
  width: 70%;
  text-align: right;
  margin-bottom: 0;
}
.copyright .custom-social-icons a{
  margin-right: 12px;
  font-size: 18px;
  background: transparent !important;
}
.copyright .custom-social-icons .custom_title{
  display: none;
}
/* --------- FOOTER ------- */
#footer a:focus, #footer input:focus, #footer button:focus, #footer textarea:focus {
  outline: 1px solid #fff;
}
#footer:before{
  content: "";
  background-image: url(assets/images/design2.png);
  background-repeat: repeat-x;
  background-position: center top;
  display: block;
  position: absolute;
  top: 0;
  z-index: 999;
  height: 9px;
  width: 100%;
}
#footer .custom-social-icons {
  text-align: right;
}
#footer .tagcloud a{
  border: solid 1px #7f8391;
  color:#7f8391;
  font-size: 14px !important;
  padding: 6px 12px;
  display:inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}
#footer .tagcloud a:hover{
  background: #9cc44e;
  color: #fff;
}
#footer li a:hover, #sidebar li a:hover {
  color: #9cc44e;
}
#footer ins span,
#footer .tagcloud a {
  color: #7f8391;
}
.copyright img{
  text-align: left;
}
#footer .widget {
  padding: 15px 0;
}
#footer input[type="submit"]{
  margin-top: 0;
  padding: 10px 9px;
  font-size: 15px;
  width: 100%;
  color: #fff;
}
#footer label{
  width: 100%;
  margin-bottom: 5px;
}
#footer .search-form .search-field {
  width: 100%;
  border: solid 1px #7f8391;
  padding: 10px;
  background:transparent;
  color: #fff;
}
#footer caption,#sidebar caption {
  font-weight: bold;
  color: #7f8391;
  font-size: 20px;
}
#footer table,
#footer th,
#footer td{
  border: 1px solid #7f8391;
  text-align: center;
}
#footer td ,#sidebar td{
  padding: 9px;
  color: #7f8391;
}
#footer th {
  text-align: center;
  padding: 10px;
  color: #7f8391;
}
#footer li a {
  color: #7f8391;
  font-size: 14px;
}
#footer ul li {
  list-style: none;
  padding: 5px 0;
}
#footer ul {
  margin: 0;
  padding-right: 0;
}
#sidebar select ,#footer select {
  padding: 10px 5px;
  width: 100%;
}
.sub-title{
  margin: 5em 0 0 0;
  line-height: 2em;
}
#footer {
  color: #7f8391;
  text-align: right;
  background: #343c49;
  position: relative;
}
#footer h3, #footer .wp-block-search .wp-block-search__label{
  color: #fff;
  font-size: 30px;
  padding: 10px 0 10px 0;
  font-family: 'Caveat Brush', cursive;
  font-weight: 500;
}
#footer .wp-block-search .wp-block-search__label{
  margin-bottom: 10px;
}
#footer h3:after, #footer .wp-block-search .wp-block-search__label:after{
  border-bottom: solid 3px #9cc44e;
  width: 15%;
  padding-bottom: 5px;
  content: "";
  display: block;
}
#footer p{
  font-size: 14px;
}
.navigate  ul{
  list-style: none;
}
.copyright a {
  color: #fff;
}
.copyright a:hover{
  color: #343c49;
}
.copyright p{
  margin-bottom: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
#footer-2{
  background: #9cc44e;
  text-align:center;
  padding: 25px 0 20px;
}
#footer ul.cart_list li a, #footer ul.product_list_widget li a , #footer ul.cart_list li .star-rating, #footer ul.product_list_widget li .star-rating{
  margin-bottom: 5px;
}
#footer .widget_price_filter .ui-slider .ui-slider-range, #footer .widget_price_filter .ui-slider .ui-slider-handle{
  background: #9cc44e;
}
#footer .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #fff;
}
#footer .woocommerce-product-search button{
  font-size: 15px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px;
  background: #9cc44e;
  font-weight: bold;
  color: #fff;
  border: none;
  margin-top: 10px;
  text-transform: uppercase;
}
#footer .woocommerce-product-search input[type="search"]{
  border: 1px solid #ddd;
  width: 100%;
}
#footer form.woocommerce-product-search{
  border: none;
}
#footer li.woocommerce-mini-cart-item.mini_cart_item{
  line-height: 25px;
  margin-top: 10px;
  padding: 0 2em 0 0 !important;
}
#footer ul.product_list_widget li {
  line-height: 25px;
  margin-top: 10px;
}
#footer .widget_rating_filter ul li {
  line-height: 25px;
}
#footer #respond input#submit, #footer a.button, #footer button.button, #footer input.button, #footer #respond input#submit.alt, #footer a.button.alt, #footer button.button.alt, #footer input.button.alt{
  background: #fff;
}
#footer #respond input#submit:hover, #footer a.button:hover, #footer button.button:hover, #footer input.button:hover, #footer #respond input#submit.alt:hover, #footer a.button.alt:hover, #footer button.button.alt:hover, #footer input.button.alt:hover{
  background: #9cc44e;
  color: #fff;
}
#footer .wp-block-search .wp-block-search__inside-wrapper, #sidebar .wp-block-search .wp-block-search__inside-wrapper{
  flex-wrap: wrap;
  display: block;
}
#footer .wp-block-search .wp-block-search__input, #sidebar .wp-block-search .wp-block-search__input{
  padding:10px 10px;
  font-size:15px;
  margin-bottom: 10px;
  color:#4d4749;
  border: solid 1px #e1e1e1;
  width: 100%;
}
#footer .wp-block-search .wp-block-search__button, #sidebar .wp-block-search .wp-block-search__button{
  background: #9cc44e;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  width: 100%;
  margin-right: 0;
}
/* --------- Blog Page ------- */
.grid-post-main-box{
  padding: 15px 14px 15px 14px !important;
}
.post-main-box:hover h2, .grid-post-main-box:hover h2{
  color: #9cc44e;
}
iframe {
  max-width: 100%;
}
.entry-video iframe {
    width: 100%;
}
.entry-video video {
  width: 100%;
}
.entry-audio audio {
  width: 100%;
}
audio {
  margin: 0 auto;
  width: 100%;
}
h1.page-title {
  margin-bottom: 1%;
  margin-top: 0;
}
#our-services {
  margin-top: 0;
}
.post-main-box, .grid-post-main-box {
  margin-bottom: 5%;
  padding: 20px;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 15px 10px -15px #9cc44e;
}
.post-main-box h2 , .grid-post-main-box h2{
  font-size: 30px;
  color: #343c49;
  letter-spacing: 1px;
  text-align: right;
  margin-top: 0;
  padding-top: 0;
  text-transform: capitalize;
}
.post-main-box h2 a, .grid-post-main-box h2 a{
  color: #343c49;
}
.new-text p {
  line-height: 26px;
  margin-top: 15px;
  text-align: justify;
}
.post-info {
  font-size: 12px;
  letter-spacing: 1px;
}
.post-info span {
  margin-left: 1%;
}
.post-info hr {
  width: 10%;
  border-top: solid 2px #343c49;
  margin-bottom: 0;
  opacity: 1;
}
.post-main-box .content-bttn {
  margin: 10px 0;
  display: inline-block;
}
.post-main-box a.view-more{
  display: inline-block;
}
.content-bttn .view-more:hover i,
.error-btn .view-more:hover i{
  color: #fff;
}
.tags {
  padding-top: 10px;
}
.tags a {
  text-decoration: none!important;
  font-weight: 400;
   border-radius: 3px; 
  color: #121212!important;
  background: #f8f8f8;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0,0,0,.08);
  text-shadow: none;
  line-height: 3.5;
  padding: 8px;
  margin: 5px;
  font-size: 15px;
}
.single-post .entry-content p{
  padding-top: 10px;
}
.entry-date a, .entry-author a{
  color: #ababab;
}
.single-post .entry-date a, .single-post .entry-author a{
  color: #000;
}
.post-main-box:hover h2 a, .post-main-box:hover .entry-date a, .post-main-box:hover .entry-author a,
.single-post .post-info:hover .entry-date a, .single-post .post-info:hover .entry-author a,
.grid-post-main-box:hover h2 a, .grid-post-main-box:hover .entry-date a, .grid-post-main-box:hover .entry-author a{
  color: #9cc44e;
}
.single-post h1{
  font-size: 30px;
}
.single-post .post-info{
  color: #000;
  clear: both;
  font-size: 12px;
  letter-spacing: 1px;
  background: #f8f8f8;
  padding: 10px;
  margin-bottom: 15px;
  text-align: right;
}
.post-info i{
  margin-left: 10px;
}
.related-post {
  clear: both;
}
.related-post h3 {
  padding: 15px 0px 15px;
}
.related-post .post-main-box h2 {
  padding: 10px 0;
}
.related-post .entry-content p{
  padding-top: 0;
  margin-top: 0;
}
.nav-previous a{
  padding: 15px 15px;
  color: #fff;
  font-size: 15px;
  line-height: 13px;
  font-weight: bold;
  text-align: right;
  background: #343c49;
}
.nav-next a{
  padding: 15px 15px;
  color: #fff;
  font-size: 15px;
  line-height: 13px;
  font-weight: bold;
  text-align: left;
  background: #343c49;
}
.nav-previous a:hover, .nav-next a:hover {
  background: #9cc44e;
  color: #fff;
  transition-duration: 0.5s;
}
.navigation {
  margin-bottom: 30px;
}
p.comment-form-comment label {
  display: block;
}
/* --------- POST --------- */
h2#reply-title {
  text-align: right;
  margin-bottom: 0;
  font-size: 30px;
  text-transform: none;
}
.bradcrumbs{
  padding:10px 0px 30px 0;
}
.bradcrumbs a{
  background:#f1f1f1; 
  color:#000;
  padding:5px 10px;
  margin-left:5px;
  display: inline-block;
  margin-bottom: 8px;
}
.bradcrumbs a:hover, .bradcrumbs span{
  background: #9cc44e;
  color: #fff;
}
.bradcrumbs span{
  padding:5px 10px;
  font-weight: 700;
}
/*------------------ category ----------------*/
.post-categories li ,.single-post ul.post-categories{
  display: inline-block;
   padding-right: 2px;
}
.post-categories li a {
  margin-left: 8px;
  margin-bottom: 8px;
  color: #fff;
  background: #9cc44e;
  font-weight: 600 !important;
  padding: 8px 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}
.single-post-category span{
  font-weight: 600;
  color: #000;
}
/* Comments BOX */
#comments ol.children img {
  width: 30px;
}
#comments ol {
  list-style: none;
  padding-right: 0;
}
#comments{  
  margin-top:30px;
}  
#comments h2.comments-title{
  font-size:25px;
  font-weight:bold;
  margin-bottom: 10px;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}  
#comments input[type="text"],
#comments input[type="email"],
#comments textarea{
  width:100%;
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"]{
  background: #9cc44e;
  color: #fff;
  padding: 10px 20px;
  font-weight: 800;
  font-size: 12px;
  border-radius: 30px;
}
#comments a.comment-reply-link{
  color: #fff;
  background:#9cc44e;
  padding:5px 15px;
  font-weight: 500;
  border-radius: 30px;
}  
#comments a.comment-reply-link:hover{
  background:#343c49;
  color: #fff;
}
#comments a time{
  color:#000;
  font-weight:bold;
  font-size:12px;
}
#comments ol li{
  width:100%;
  list-style:none;
  margin: 0 0 20px;
  padding: 20px;
  background:#f8f8f8;
  display:inline-block;
  border: 1px solid #d6d6d6;
} 
#comments ul{
  margin:0 40px 0 0;
}
#comments .reply{
  float:left;
}
#comments .comment-author{
  width:100%;
}
#comments .comment-metadata{
  width:90%;
  float:right;
  padding:1% 0 0 0;
}
#comments .comment-content{
  width:90%;
  float:right;
  margin:10px 0 0 0;
}
#comments p {
  width:100%;
  float:right;
}
/*----------single-post-comments---------*/
.comments .comment-author, .comment-author.vcard {
  width: 50%;
  float: right;
}
.comment-meta.commentmetadata {
  float: left;
  width: 50%;
  text-align: left;
}
.comments p {
  width: 90%;
  float: right;
}
.comments .reply {
  float: right;
}
.reply {
  margin-bottom: 15px;
  width: 100%;
  float: right;
}
/*--------------- Sidebar----------------- */
#sidebar .custom-social-icons {
  text-align: center;
}
#sidebar .custom-social-icons i,
#footer .custom-social-icons i {
  background: #9cc44e;
  width: 40px;
  text-align: center;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  line-height: 1.5;
  color: #fff;
}
#sidebar .custom-social-icons i:hover{
  background: #343c49;
}
#footer .custom-social-icons i:hover{
  background: #fff;
  color: #9cc44e;
}
#sidebar td#prev a {
  color: #555a5e;
}
#sidebar caption {
  font-weight: bold;
  color: #343c49;
  font-size: 20px;
}
#sidebar table,#sidebar th,#sidebar td {
  border: 1px solid #e1e1e1;
  text-align: center;
}
#sidebar td {
  padding: 7px;
  color: #555a5e;
}
#sidebar th {
  text-align: center;
  padding: 5px;
  color: #555a5e;
}
#sidebar select, 
.woocommerce .woocommerce-ordering select{
  padding: 10px 5px;
  border: solid 1px #e1e1e1;
  color: #555a5e;
  background: transparent;
}
#sidebar form{
  text-align: center;
}
#sidebar h3, #sidebar .wp-block-search .wp-block-search__label{
  font-size: 25px;
  display: table;
  color: #fff;
  background-color: #fff;
  font-family: 'Caveat Brush', cursive;
  font-weight: 500;
  background: #9cc44e;
  padding: 8px 15px;
}
#sidebar .wp-block-search .wp-block-search__label{
  width: auto;
}
#sidebar input[type="search"] {
  padding: 15px;
  font-size:15px;
  margin-bottom: 10px;
  color:#555a5e;
  border: solid 1px #e1e1e1;
  width: 100%;
}
#sidebar label{
  margin-bottom: 0;
  width: 100%;
}
#sidebar input[type="submit"]{
  color: #fff;
  padding: 15px;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  letter-spacing: 1px;
}
#sidebar .widget {
  padding: 20px;
  border: solid 1px #e1e1e1;
  margin-bottom: 50px;
  box-shadow: 0px 15px 10px -15px #9cc44e;
}
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar ul li{
  color: #555a5e;
  font-size: 14px;
  border-bottom: 1px solid #e1e1e1;
  line-height: 43px;
}
#sidebar ul li a {
  color: #555a5e;
  letter-spacing: 1px;
  font-size: 14px;
}
#sidebar .tagcloud a{
  border: solid 1px #e1e1e1;
  color: #555a5e;
  font-size: 14px !important;
  padding: 10px 18px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}
#sidebar .tagcloud a:hover{
  background: #9cc44e;
  color: #fff;
}
#sidebar ul.product_list_widget li{
  line-height: 25px;
  margin-top: 10px;
}
#sidebar .widget_shopping_cart .cart_list li a.remove, #sidebar.widget_shopping_cart .cart_list li a.remove {
  position: absolute;
  top: 0px;
  right: 0;
}
#sidebar .widget_price_filter .ui-slider .ui-slider-range, #sidebar .widget_price_filter .ui-slider .ui-slider-handle{
  background: #9cc44e;
}
#sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #000;
}
#sidebar ul.cart_list li a, #sidebar ul.product_list_widget li a, #sidebar ul.cart_list li .star-rating, #sidebar ul.product_list_widget li .star-rating {
  margin-bottom: 5px;
}
#sidebar .woocommerce-product-search button{
  border: none;
  color: #fff;
  padding: 15px;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  letter-spacing: 1px;
  background: #9cc44e;
  text-transform: uppercase;
}
#sidebar .woocommerce-product-search input[type="search"]{
  border: 1px solid #ddd;
}
#sidebar form.woocommerce-product-search{
  border: none;
}
#sidebar #respond input#submit, #sidebar a.button, #sidebar button.button, #sidebar input.button, #sidebar #respond input#submit.alt, #footer a.button.alt, #sidebar button.button.alt, #sidebar input.button.alt{
  background: #fff;
}
#sidebar #respond input#submit:hover, #sidebar a.button:hover, #sidebar button.button:hover, #sidebar input.button:hover, #sidebar #respond input#submit.alt:hover, #sidebar a.button.alt:hover, #sidebar button.button.alt:hover, #sidebar input.button.alt:hover{
  background: #9cc44e;
  color: #fff;
}
.nav-previous{
  clear:both;
}
.nav-previous,
.nav-next{
  float:right;
  width:50%;
  margin: 1% 0 0 0;
}
.nav-next{
  text-align:left;
  font-size: 18px;
}
.nav-previous{
  text-align:right;
  font-size: 18px;
}

/*------------ PAGE CSS -------------*/
.page-content{
  margin: 20px 0px 40px 0px;
}
.error-btn {
  margin: 25px 0;
}
.read-moresec{
  margin:2% 0;
}
.page-content, .page-content p {
  text-align: center;
}
/*------------- PAGINATION CSS --------------*/
p.post-nav-links, .post-nav-links span, .post-nav-links a {
  float: unset !important;
  display: inline-flex;
  gap: 5px;
  align-items: center;
}
.pagination {
  clear:both;
  position:relative;
  font-size:14px;
  line-height:13px;
  float:left;
  font-weight:bold;width:100%;
} 
.pagination span, .pagination a , .post-nav-links span, .post-nav-links a{
  display:block;
  float:right;
  margin: 2px 0 2px 5px;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color: #fff;
  background: #343c49;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
} 
.pagination a:hover{
  background: #9cc44e;
} 
.pagination .current {
  padding: 10px 15px;
  background: #9cc44e;
  font-weight: bold;
}
.pagination ul, .pagination ul li{
  margin:0;
  clear:both;
}
.pagination ul li{
  margin:0;
}
.post-navigation{
  clear:both;
}
.post-navigation {
  clear: both; 
}
.nav-previous {
  float: right;
  width: 50%;
}
.post-navigation .current .screen-reader-text { 
  position: absolute !important; 
}
.post-navigation a { 
  color: #343c49;  
}
.post-navigation span { 
  display: block; 
}
.post-navigation .meta-nav { 
  color: #555a5e; 
  font-size: 13px;
  letter-spacing: 0.076923077em; 
  line-height: 1.6153846154; 
  margin-bottom: 0.5384615385em; 
  text-transform: uppercase; 
}
.post-navigation .post-title {
  font-size: 15px; 
  font-weight: 700;  
  line-height: 1.2173913043; 
  text-rendering: optimizeLegibility;
}
.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title { 
  color: #9cc44e;
}
.post-navigation:before {
  left: 0;
}
.post-navigation:after {
  left: 54px;
}
.post-navigation a:hover,
.post-navigation a:focus {
  color: #9cc44e;
}
.post-navigation .nav-links {
  position: relative;
}
.post-navigation .nav-links:before,
.post-navigation .nav-links:after {
  color: #fff;
  font-size: 32px;
  line-height: 51px;
  opacity: 0.3;
  position: absolute;
  width: 52px;
  z-index: 1;
}
.post-navigation .page-numbers {
  display: inline-block; 
  letter-spacing: 0.013157895em;
  line-height: 1;
  margin: 0 -0.7368421053em 0 0.7368421053em;
  padding: 0.8157894737em 0.7368421053em 0.3947368421em;
  text-transform: uppercase;
}
.post-navigation .current {
  display: inline-block;
  font-weight: 700;
}
.post-navigation .prev,
.post-navigation .next {
  background-color: #1a1a1a;
  color: #fff;
  display: inline-block;
  height: 52px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 52px;
  z-index: 2;
}
.post-navigation .prev:before,
.post-navigation .next:before {
  font-size: 32px;
  height: 53px;
  line-height: 52px;
  position: relative;
  width: 53px;
}
.post-navigation .prev:hover,
.post-navigation .prev:focus,
.post-navigation .next:hover,
.post-navigation .next:focus {
  background-color: #007acc;
  color: #fff;
}
.post-navigation .prev:focus,
.post-navigation .next:focus {
  outline: 0;
}
.post-navigation .prev {
  left: 54px;
}
/*------single-post-pagination------*/
.post-navigation a {
  color: #1a1a1a;
}
.single-post .nav-previous a,
.single-post .nav-next a{
  color: #000;
  background: transparent;
}
.single-post .nav-previous a:hover,
.single-post .nav-next a:hover {
  color: #9cc44e;
  background: transparent;
}
.single-post .nav-previous a,
.single-post .nav-next a{
  outline: none !important;
  border-bottom: none !important;
}
.nav-next {
  float: left;
  width: 50%;
  text-align: left;
}
.nav-previous {
  width: 50%;
  float: right;
  text-align: right;
}
.nav-next span.meta-nav:after{
  content: "\f30b";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-right: 10px;
}
.nav-previous span.meta-nav:before{
  content: "\f30a";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-left: 10px;
}
.post-navigation span.meta-nav {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0;
  padding: 15px;
}
.post-navigation span { 
  display: block;
}
.post-navigation .post-title {
  display: none;
}
/*------------- About us widgets --------------*/
#footer .more-button, #sidebar .more-button {
  margin: 20px 0px 10px 0px;
}
#sidebar a.custom_read_more {
  color: #343c49;
  font-size: 15px;
  letter-spacing: 1px;
  background: transparent;
  padding: 15px 20px;
  border-radius: 30px;
  border: 2px solid #343c49;
  font-family: 'Caveat Brush', cursive;
}
#footer a.custom_read_more {
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  background: #9cc44e;
  padding: 15px 20px;
  border-radius: 30px;
  font-family: 'Caveat Brush', cursive;
}
#footer p.custom_author, #sidebar p.custom_author {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0 4px;
}
#footer p.custom_designation, #sidebar p.custom_designation {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 4px;
  padding-top: 0px;
}
#footer .more-button:hover i{
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding-right: 10px;
  color: #9cc44e;
}
#sidebar .more-button:hover i {
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding-right: 10px;
  color: #fff;
}
#footer .more-button i, #sidebar .more-button i {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
}
#sidebar .more-button a:hover {
  transition: all 0.4s ease 0s;
  background: #9cc44e;
  color: #fff;
  border-color: #9cc44e;
}
#footer .more-button a:hover{
  transition: all 0.4s ease 0s;
  background: #fff;
  color: #9cc44e;
}
.custom-about-us h3.custom_title {
  text-align: right;
}
#footer .widget .custom-about-us, #footer .widget .custom-contact-us{
  padding: 0;
}
/*------------- Contact us widgets --------------*/
.custom_details {
  font-size: 15px;
  font-weight: bold;
}
.custom-social-icons input[type="text"], .custom-social-icons input[type="email"], .custom-social-icons textarea {
  margin: 0;
  background: transparent;
}
form.wpcf7-form {
  margin-top: 20px;
}
#sidebar .custom-contact-us form {
  text-align: right;
}
#footer .custom-contact-us label{
  margin-bottom: 0;
}
/*blog post navigation css*/
nav.navigation.posts-navigation .nav-previous a{
  padding: 15px 15px;
  color: #fff !important;
  font-size: 15px;
  line-height: 13px;
  font-weight: bold;
  text-align: right;
  background: #9cc44e;
}
nav.navigation.posts-navigation .nav-next a{
  padding: 15px 15px;
  color: #fff;
  font-size: 15px;
  line-height: 13px;
  font-weight: bold;
  text-align: left;
  background: #9cc44e;
}
nav.navigation.posts-navigation .nav-previous a:hover, nav.navigation.posts-navigation .nav-next a:hover{
  background: #343c49;
}
nav.navigation.posts-navigation .nav-previous, nav.navigation.posts-navigation .nav-next{
  margin-top: 0;
}
/*------------- WOOCOMMERCE CSS --------------*/
.woocommerce ul.products li.product:hover,
.woocommerce ul.products li.product:hover span.onsale {
  background: #9cc44e;
}
.products li:hover a.button{
  border-color: #9cc44e;
}
.products li:hover .star-rating span{
  color: #343c49 !important;
}
.woocommerce .star-rating span {
  color: #9cc44e;
}
.woocommerce span.onsale {
  text-transform: uppercase;
  background: #343c49;
  padding: 0;
  top: 15px !important;
  right: 15px !important;
  left: auto !important;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Caveat Brush', cursive;
}
.products li {
  text-align: center;
  background: #343c49;
  font-family: 'Caveat Brush', cursive;
}
#popular-toys a.button.product_type_simple.add_to_cart_button {
  top: 175px;
}
a.button.product_type_simple.add_to_cart_button  {
  padding: 28px !important;
  background: url(assets/images/cart-icon.png) no-repeat scroll right 17px top 50% #fff;
  text-indent: -9999px;
  border: solid 2px #343c49;
  cursor: pointer;
  border-radius: 50%;
  font-size: 0;
  position: absolute;
  top: 175px;
  right: 50%;
  transform: translateX(50%);
}
.woocommerce a.added_to_cart{
  background: #fff;
  padding: 10px;
  margin-top: 53px;
  color: #9cc44e;
}
.woocommerce .product:hover a.added_to_cart{
  color: #000;
}
.woocommerce ul.products li.product{
  background: #343c49 ;
  padding-bottom: 40px;
}
#popular-toys a.added_to_cart.wc-forward {
  padding: 28px;
  background: url(assets/images/view-icon.png) no-repeat scroll right 17px top 50% #fff;
  text-indent: -9999px;
  border: solid 2px #9cc34e;
  cursor: pointer;
  border-radius: 50%;
  font-size: 0;
  right: 62%;
  position: absolute;
  top: 49%;
  width: 40px;
}
.woocommerce ul.products li.product a img{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 65%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
}
h2.woocommerce-loop-product__title{
  color: #fff;
  letter-spacing: 1px;
  font-size: 25px !important;
  padding: 0 15px !important;
}
.woocommerce div.product .product_title {
  color: #343c49;
  letter-spacing: 1px;
  margin-bottom: 10px !important;
}
.woocommerce ul.products li.product .price{
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: -35px;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #555a5e;
  font-size: 15px
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px !important;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: transparent;
  color: #343c49;
  padding: 17px !important;
  border-radius: 30px;
  border: 2px solid #343c49;
}
.woocommerce #respond input#submit:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background: #9cc44e;
  color: #fff ;
  border-color: #9cc44e;
}
.woocommerce .quantity .qty {
  width: 6em;
  padding: 15px;
  border: solid 1px #343c49;
  color: #343c49;
  border-radius: 30px;
}
.col-1,.col-2 {
  max-width: 100%;
}
.woocommerce .col2-set .col-1 {
   max-width: 100%;
}
.woocommerce .col2-set .col-2 {
   max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding-right: 0;
}
nav.woocommerce-MyAccount-navigation ul li {
  background: #9cc44e;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: -2px 2px 0 0 #343c49;
  font-weight: bold;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #fff;
}
nav.woocommerce-MyAccount-navigation ul li a:hover{
  color: #343c49;
  transition: 0.1s;
}
span.woocommerce-input-wrapper,
.checkout label {
 width: 100%;
}
.woocommerce .woocommerce-ordering select {
  padding: 5px;
  font-size: 12px;
}
span.posted_in {
  display: block;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 22%;
  display: inline-block;
  margin: 5px;
}
.woocommerce-message,
.woocommerce-info{
  border-top-color: #343c49;
}
.woocommerce-message::before,
.woocommerce-info::before{
  color: #343c49;
}
.related.products ul li {
  width: 29% !important;
}
nav.woocommerce-MyAccount-navigation ul li a, .woocommerce-info a, .woocommerce-privacy-policy-text a, td.product-name a, a.shipping-calculator-button{
  text-decoration: none !important;
}
.woocommerce div.product .product_title{
  font-size: 30px;
}
.woocommerce .star-rating span, .woocommerce p.stars a{
  color: #ffd400;
}
.woocommerce div.product .woocommerce-product-rating{
  margin-bottom: 5px;
}
.woocommerce-Reviews #comments p{
  float: none;
}
.woocommerce #comments ol li{
  padding: 0px !important;
}
.woocommerce #reviews #comments h2{
  font-size: 25px;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img{
  width: 50px;
}
.woocommerce .select2-container--default .select2-selection--single , .woocommerce input#billing_phone{
  padding: 10px 0px;
  border-radius: 0px;
  border: 1px solid #bcbcbc;
}
.woocommerce .select2-container .select2-selection--single, .woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px;
}
h3#order_review_heading{
  margin-top: 10px;
}
section.related.products h2 {
  text-align: right;
  margin: 10px 0;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
  text-align: center;
  padding: 0
}
.woocommerce .products .star-rating{
  margin: 10px auto;
}
.woocommerce .star-rating{
  font-size: 15px;
}
.admin-bar .home-page-header{
  margin-top: 32px;
}
.woocommerce input#password{
  border: 1px solid #bcbcbc;
}
.woocommerce-page form .password-input{
  width: 100%;
}
.woocommerce label {
  width: 100%;
}
.woocommerce nav.woocommerce-pagination ul li a {
  display: block;
  margin: 2px 0 2px 2px;
  padding: 12px 15px;
  text-decoration: none;
  width: auto;
  color: #fff;
  background: #343c49;
  transition: background .15s ease-in-out;
  font-weight: bold;
}
.woocommerce nav.woocommerce-pagination ul li a:hover{
  background: #9cc44e;
  color: #fff;
}
.woocommerce nav.woocommerce-pagination ul li span.current{
  padding: 12px 15px;
  background: #9cc44e;
  color: #fff;
  font-weight: normal;
}
.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li{
  border: none;
  float: none;
  overflow: unset;
}
.woocommerce nav.woocommerce-pagination {
  text-align: center;
  margin-bottom: 20px;
} 
.woocommerce-cart table.cart td.actions .coupon .input-text{
  width: 120px !important;
  padding: 18px 5px 12px !important;
  margin: 0px 0 0px 10px !important;
  border-radius: 50px;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
  margin-bottom: 30px;
}
#payment {
  margin-bottom: 30px;
}
.woocommerce input#billing_phone{
  padding: 10px;
}
/*cart and checkout css*/
.wp-block-woocommerce-cart .wc-block-cart__submit-button, .wc-block-components-checkout-place-order-button, .wc-block-components-totals-coupon__button{
  background: #9cc44e;
  color: #fff !important;
  text-decoration: none !important;
  border-radius: 10px;
  border: none !important;
  padding: 10px;
}
.wp-block-woocommerce-cart .wc-block-cart__submit-button:hover, .wc-block-components-checkout-place-order-button:hover{
  background: #9cc44e;
  color: #fff !important;
}
.wp-block-woocommerce-cart .wc-block-cart-items,.wp-block-woocommerce-cart-order-summary-block, .wp-block-woocommerce-checkout-order-summary-block{
  border: 1px solid #dee2e6!important;
  padding: 10px;
}
.wp-block-woocommerce-cart .wc-block-cart-items__header-image, .wc-block-cart-items__header-total{
  padding: 10px !important;
}
.wp-block-woocommerce-cart .wc-block-cart .wc-block-cart__submit-container{
  margin-top: 20px;
}
.wp-block-woocommerce-cart .wc-block-components-product-badge{
  background: #9cc44e;
  color: #1b1b1b !important;
  padding: 10px !important;
  margin-bottom: 10px;
  margin-top:10px ;
}
a.wc-block-components-product-name, .wc-block-components-product-name{
  font-size: 22px !important;
  color: #fff !important;
  text-decoration: none !important;
  font-weight: 600 !important;
}
.wc-block-components-order-summary-item__quantity{
  background: #9cc44e;
  color: #fff !important;
  border: none !important;
  box-shadow: none !important;
}
.wc-block-components-sidebar-layout .wc-block-components-main {
  padding-left:0% !important;
}
.wp-block-woocommerce-cart.alignwide, .wp-block-woocommerce-checkout.alignwide.wc-block-checkout{
  margin-left: auto !important;
  margin-right: auto !important;
}
/* emty cart */
.wp-block-woocommerce-empty-cart-block li.wc-block-grid__product{
  border: 1px solid #dcdcdc;
  padding: 10px;
  max-width: 30.75% !important;
  float: right;
  margin: 0 0 2.992em 3.8%;
}
.wp-block-woocommerce-empty-cart-block .wc-block-grid__product-onsale{
  padding: 5px 10px !important;
  background: #5d17df !important;
  color: #fff !important;
  border-color: #5d17df !important;
  border-radius: 0px !important;
  font-size: 14px !important;
  top: 5px !important;
  left: 5px !important;
  right: auto !important;
  margin: -0.5em 0 0 -0.5em !important;
}
.wp-block-woocommerce-empty-cart-block .wc-block-grid__product-title{
  font-size: 22px !important;
  color: #000 !important;
  font-weight: 600;
}
.wp-block-woocommerce-empty-cart-block a.wc-block-grid__product-link{
  text-decoration: none !important;
}
.wp-block-woocommerce-empty-cart-block a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart{
  padding: 10px 12px;
  border-radius: 8px !important;
  font-size: 16px;
}
.wp-block-woocommerce-empty-cart-block span.woocommerce-Price-amount.amount{
  font-size: 16px;
}
.wp-block-woocommerce-empty-cart-block h2.wp-block-heading.has-text-align-center{
  margin: 10px 0;
}

/*------------------RESPONSIVE MEIDA-------------------*/
@media screen and (max-width:720px) {
  #sidebar h3, #sidebar .wp-block-search .wp-block-search__label{
    margin: 0px auto 10px auto;
  }
  #sidebar h3, #sidebar .wp-block-search .wp-block-search__label{
    margin: 0px auto 10px auto;
  }
  #slider .inner_carousel,
  .search-box, #topbar,.logo,
  .custom-social-icons,
  .main-header{
    text-align: center;
  }
  #popular-toys:before{
    top: -1.4em;
  }
  .custom-social-icons{
    padding: 15px 0;
  }
  .logo {
    padding: 15px 0 30px;
  }
  .email, .call{
    border: none;
    padding-top: 10px;
  }
  #slider .carousel-control-prev,
  #slider .carousel-control-next{
    width: auto;
  }
  #slider .carousel-control-prev-icon,
  #slider .carousel-control-next-icon{
    padding: 5px 12px;
  }
  #slider .carousel-control-prev, #slider .carousel-control-next{
    top: 0;
    bottom: 0;
  }
  #slider .carousel-control-prev{
    left: auto;
  }
  #slider{
    margin-top: 20px;
  }
  #slider .carousel-caption {
    padding: 0;
    left: 10%;
    right: 10%;
  }
  #slider hr{
    margin:0 auto;
    opacity: 1;
    display: none;
  }
  #slider .inner_carousel h1{
    font-size: 25px;
    text-align: center;
    padding: 0;
    letter-spacing: 0;
  }
  #popular-toys a.button.product_type_simple.add_to_cart_button,
  a.button.product_type_simple.add_to_cart_button{
    top: 60%;
  }
  .woocommerce ul.products li.product{
    width: 100% !important;
  }
  .main-header input[type="search"]{
    width: 78%;
  }
  .serv-box h4{
    padding: 10px 0;
  }
  #slider .inner_carousel p{
    display:none;
  }
  #slider .carousel-caption, #slider .inner_carousel, #slider .inner_carousel h1 {
    text-align: center !important;
    right: 10%;
    left: 22%;
    top: 50% !important;
  }
  #slider .more-btn{
    margin: 20px 0;
  }
  #slider .more-btn .view-more{
    font-size: 15px;
  }
  body.page-template-custom-home-page.admin-bar .header-fixed, body.admin-bar .header-fixed {
    margin-top: 0px !important;
  }
  .copyright .widget, .copyright p {
    float: none;
    width: 100%;
    text-align: center;
  }
  #slider .inner_carousel h1 a{
    font-size: 20px;
    line-height: 0;
    color: #343c49;
  }
  #slider .carousel-caption {
    text-align: center !important;
    right: 0% !important;
    left: 0% !important;
    top: 32%;
    padding: 0;
  }
  #slider .inner_carousel h1{
    margin-bottom: 0px;
  }
  #slider .slider-btn a{
    padding: 6px 12px;
  }
}
@media screen and (max-width:320px) {
  #popular-toys a.added_to_cart.wc-forward{
    top: 52%;
  }
}
@media screen and (min-width: 375px) and (max-width: 425px){
  #popular-toys a.added_to_cart.wc-forward{
    top: 60%;
  }
}
@media screen and (max-width: 767px){
  .nav-links{
  margin-bottom: 20px
  }
  #slider .view-more{
    padding: 6px 10px;
  }
}
@media screen and (max-width: 575px){
  .middle-align {
    padding: 20px 20px 20px;
  }
  .post-navigation span.meta-nav {
    font-size: 11px;
  }
}
@media screen and (max-width: 1000px){
  .menubar .nav ul li a:focus,
  a.closebtn.mobile-menu:focus{
    outline: 1px solid #000;
  }
  .toggle-nav {
    display: none;
    position: relative;
    width: 30px;
    cursor: pointer;
    margin: 0 auto;
  }
  .toggle-nav i {
    font-size: 20px;
    color: #fff;
    padding: 10px;
    background: #343c49;
  }
  .toggle-nav button {
    background: transparent;
    border: none;
    padding: 0;
  }
  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    right: 0;
    top: -110%;
    overflow-x: hidden; 
    overflow-y: scroll;
    background: #fff ;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    cursor: zoom-in;
  }
  .sidenav.show {
    visibility: visible;
    top:0%;
  }
  .sidenav .closebtn {
    position: absolute;
    left: 25px;
    font-size: 36px;
    display: block !important;
    color: #000;
    padding: 0;
    top:0;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav span{
    font-size:30px;
    cursor:pointer; 
    text-align: left;
  }
  .toggle-nav{
    display: block;
  }
  .toggle i.fa.fa-bars,.toggle i.fa.fa-times {
    float: left;
    color: black;
  }
  .main-navigation ul{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center; 
    margin-top: 0px;
    float: none;
  }
  .main-navigation ul ul li{
    display: block;
  }
  .menubar .nav ul li{
    border-top:1px #f1f1f1 solid; 
    display:block;
  }
  .main-navigation ul li:first-child a, a.closebtn.mobile-menu {
    border-right: none;
    border-left: none;
  }
  .main-navigation ul li a{
    padding: 8px;
    text-decoration: none;
    font-size: 17px;
    color: #000;
    display: block; 
    transition: 0.3s;
    float: none;
    margin: 5px 0;
    border-left: none;
  }
  .main-navigation ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .main-navigation ul.sub-menu a:hover{
    padding-right:20px !important;
    background: #fff !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
    background: transparent;
    border-top-width: 0px;
    border-bottom-width: 0px;
    box-shadow: none;
  }
  .main-navigation ul ul a{
    border-bottom: none;
    text-align: center;
    padding-right: 40px;
  }
  .main-navigation ul ul ul.sub-menu a{
    padding-right: 40px;
  }
  .main-navigation li{
    padding: 0;
    display: block;
    text-align: center;
  } 
  .main-navigation ul li:last-child{
    border-bottom: 1px #f1f1f1 solid;
  }
  .main-header-box{
    padding-bottom: 15px;
  }
  #mySidenav {
    text-align: right;
    display: inline;
  }
  .main-menu {
    padding: 0em;
    padding-top: 50px;
  }
  .main-navigation ul.sub-menu>li>a:before {
    content: unset;
  }
  .main-navigation ul.sub-menu>li>a:hover:before {
    opacity: 0;
    right: 0px;
    width: 0px;
  }
  .sf-arrows .sf-with-ul:hover:after,
  .main-navigation ul li li:hover .sf-with-ul:after{
    content: '\f107';
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: #000;
  }
  .sf-arrows .sf-with-ul:after{
    content: '\f106';
    position: absolute;
    height: 0;
    width: 0;
    border-top-color: #e1e1e1;
    color: #000;
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    margin-top: 0px;
    font-size: 12px;
    padding: 0px 10px;
  }
  #header {
    padding: 10px;
  }
  .admin-bar .home-page-header{
    margin-top: 46px;
  }
  #slider img {
    height: auto !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  #slider .inner_carousel p{
    display: none;
  }
  #slider .more-btn {
    margin: 20px 0;
  }
  #popular-toys:before{
    top: -2em;
  }
  #slider .inner_carousel h1{
    font-size: 30px;
  }
  .email, .call{
    margin-top: 10px;
  }
  #topbar,
  .main-header{
    text-align: center;
  }
  .main-header input[type="search"]{
    width: 80%;
  }
  .main-header .woocommerce-product-search{
    margin-bottom: 15px;
  }
  .carousel-control-prev{
    left: 13%;
  }
  .carousel-control-next{
    left: 1%;
  }
  .categry-title strong,
  .categry-title i{
    font-size: 14px;
  }
  .categry-title i{
    margin-left: 10px;
  }
  .product-cat li{
    padding:10px;
  }
  .product-cat{
    height: 250px;
  }
  #popular-toys a.button.product_type_simple.add_to_cart_button {
    top: 245px;
  }
  .related.products ul li {
    width: 45% !important;
  }
  #slider .more-btn .view-more{
    padding: 10px 15px;
  }
  body.admin-bar #mySidenav, body.page-template-custom-home-page.admin-bar .header-fixed, body.admin-bar .header-fixed {
    margin-top: 40px !important;
  }
  .copyright p{
    width: 60%;
  }
  .copyright .widget{
    width: 40%;
  }
  #popular-toys a.added_to_cart.wc-forward {
    top: 248px;
    right: 205px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 1000px) {
  #popular-toys a.added_to_cart.wc-forward {
    top: 140px;
    right: 146px
  }
}
@media screen and (min-width: 991px) and (max-width: 1030px){
  a.button.product_type_simple.add_to_cart_button{
    top: 130px;
  }
  #popular-toys:before{
    top: -2.9em;
  }
  .categry-title strong{
    font-size: 20px;
  }
  #slider .inner_carousel h1{
    font-size: 40px;
  }
  .carousel-control-prev{
    left: 10%;
  }
  #popular-toys a.button.product_type_simple.add_to_cart_button{
    top: 140px;
  }
}
@media screen and (max-width: 320px){
  a.button.product_type_simple.add_to_cart_button,
  #popular-toys a.button.product_type_simple.add_to_cart_button{
    top: 52%;
  }
}
